.header {
  font-size: 12px;
  font-weight: bold;

  #navItem {
    &:hover {
      color: $link-hover;
      scale: (1.05);
    }
  }
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPc {
  width: 240px;
  margin-left: -10px;
  margin-right: 40px;
}

#button {
  padding: $padding-button;
  border: 2px solid white;
}

.downloadDesc {
  background-color: #111111;
  height: 90vh;
  padding-top: 240px;



  button {
    border: 2px solid white;
    margin-right: 10px;
    width: 250px;
  }
}

.emailObc {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: white;

  &:hover {
    color: $link-hover;
    border-bottom: 1px solid $link-hover;
  }
}

.footer {
  background-color: #111111;
  height: 10vh;
  font-size: 12px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1rem;
    display: flex;
    justify-content: center;

    &:hover {
      color: $link-hover;
      scale: (1.05);
    }
  }

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: $link-hover;
      scale: (1.05);
    }

  }

  .copyOBC {
    color: $copy-color;
    scale: (1.05);
  }
}

// RESPONSIVIDADE
@media (width<=449px) {
  .downloadDesc {
    button {
      margin: 10px 0px;
    }
  }

  .footer {
    flex-wrap: wrap;
    height: 30vh;
    font-size: 12px;
    font-weight: 200;
    display: inline-block;
    align-items: center;
    justify-content: center;

    i {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.8rem;
    }
  }
}

@media (width<=405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }

  .footer {
    font-size: 10px;
  }
}

@media (width <=350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}