.container00 {
  &.container05 {
    background-image: url(../../imgs/falcon9/01.jpg);
  }

  &.container06 {
    background-image: url(../../imgs/falcon9/02.jpg);
  }

  &.carrossel01 {
    background-image: url(../../imgs/falcon9/03.jpg);
  }

  &.carrossel02 {
    background-image: url(../../imgs/falcon9/04.jpg);
  }

  &.carrossel03 {
    background-image: url(../../imgs/falcon9/05.jpg);
  }

  &.carrossel04 {
    background-image: url(../../imgs/falcon9/06.jpg);
  }

  &.carrossel05 {
    background-image: url(../../imgs/falcon9/07.jpg);
  }

  &.container07 {
    background-image: url(../../imgs/falcon9/08.jpg);
  }

}

.titleFalcon9 {
  font-size: 90px;
  font-weight: 514;
}


.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;


  .titleNumb {
    font-size: 90px;
  }

  .subtitleNumb {
    font-size: 20px;
  }
}

.falcon9Desc {
  font-size: 22px;
  width: 58%;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 40%;
  margin-left: 13%;
  padding-top: 15%;
}

.carrosselSlide {
  img {
    height: 100vh;
  }
}

.carousselText {
  background-color: rgba(0, 0, 0, 0.6);
  width: 60%;
  margin: 0 auto;
  padding: 2px 5px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 1)
}



@media (width<=768px) {
  .numbers {
    .titleNumb {
      font-size: 80px;
    }

    .subTitleNumb {
      font-size: 18px;
    }
  }

  .falcon9Desc {
    width: auto;
  }

  #overViewPosition {
    padding-top: 35%;
    width: 45%;
  }
}

@media (width<=575px) {
  .numbers {
    height: 60vh;
  }

  #overViewPosition {
    width: 50%;
    margin-left: 1%;
  }
}

@media (width <=376px) {
  .titleFalcon9 {
    margin-top: 40px;
    font-size: 50px;
  }

  .subtitleFalcon {
    font-size: 16px;
  }

  .falcon9Desc {
    font-size: 18pxpx;
    line-height: auto;
  }

}